.home {
    padding: 10px;
}

.random__prods {
    width: 100%;
    height: 400px;
    background-color: rgb(33, 131, 82);
    border-radius: 10px;
    margin: 1rem 0;
    gap: 4%;
}

.electronics {
    gap: 20px;
    overflow-x: auto;
    justify-content: flex-start !important;
    padding: 20px 10px;
}

.electronics::-webkit-scrollbar {
    display: none;
}

.heading__container {
    justify-content: space-between !important;
    padding: 1rem;
    gap: 10px;
}

.heading__container .navlink {
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 50%;
    transition: .2s;
}

.heading__container:hover .navlink {
    color: red;
    outline: 1px dotted green;
    animation: navlinkAnimation 3s infinite;
}

.heading__container .navlink:hover {
    animation: none;
}

@keyframes navlinkAnimation {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.tiles {
    height: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.tile {
    border-radius: 15px;
    background-color: rgb(114, 187, 255);
    text-align: center;
}

.tile__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 2.5rem;
    padding: 2rem 0;
}

.tile .heading {
    margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
    .tiles {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .tiles {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .random__prods {
        display: none !important;
    }
}

@media screen and (max-width: 460px) {
    .tiles {
        padding: 0;
    }
    .heading__container:hover .navlink {
        animation: none;
    }
}