.form__container {
  height: 600px;
  position: relative;
}

.login__form {
  max-width: 600px;
  width: 100%;
  height: 400px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 5px #6b6b6b;
  gap: 20px;
}

input {
  width: 80%;
  outline: none;
  padding: 15px 20px;
  font-size: 1.2rem;
  border: 2px solid #071952;
  border-radius: 10px;
  box-shadow: 0 0 3px #ececec;
}

.login__form .btn {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px 25px;
  text-transform: uppercase;
}

.login__form .btn:disabled {
  outline: none;
  color: #6e6e6e;
  border: 2px solid rgb(0, 25, 65);
}

.login__form .btn:not(:disabled):hover {
  outline: none;
  background-color: rgb(181, 255, 218);
}

.form__container .link {
  cursor: pointer;
  color: darkblue;
}