.app {
    min-height: 100vh;
    width: 100%;
    max-width: 1300px;
    /* background-color: #f9f9f9; */
    margin: 0 auto;
    position: relative;
}

.product-image {
    height: 100%;
    max-width: 100%;
}